<!DOCTYPE html>
<html>
<head>
  <title>Parley</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag '//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.8/twilio-ip-messaging.min.js' %> 
  <%= javascript_include_tag 'chat.js' %>
</head>
<body>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h1>par·ley</h1>
          <h4>/ˈpärlē/</h4>
          <hr />
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
